# Split large (~28 mil rows, ~3 GB) TOA5 file into manageable (max. 1 mil rows, ~110 MB) files

In [1]:
# read TOA5 dataset
data <- read.csv("TOA5_2806.ts_data.dat", skip = 4, header = FALSE)

In [2]:
# assign column names
names(data) <- as.matrix(
  read.csv("TOA5_2806.ts_data.dat", skip = 1, header = FALSE, nrows = 1)
)

In [3]:
head(data)

  TIMESTAMP             RECORD    Ux      Uy         Uz        co2
1 2014-12-22 11:47:39.3 761139393 1.69375  0.6897500 0.8642501 760.7380
2 2014-12-22 11:47:39.4 761139394 1.55100  0.1625000 1.3627500 760.2671
3 2014-12-22 11:47:39.5 761139395 1.51725 -0.1107500 1.7462500 760.1978
4 2014-12-22 11:47:39.6 761139396 1.95925 -0.3437500 0.6390001 760.7865
5 2014-12-22 11:47:39.7 761139397 1.36050 -0.4550000 1.2060000 760.8245
6 2014-12-22 11:47:39.8 761139398 0.57650 -0.9160001 1.2277500 760.9031
  h2o      n2o Ts       press    diag_csat t_hmp    e_hmp
1 8.811520 NAN 12.08542 99.28229 0         11.51643 1.219314
2 8.790375 NAN 12.10226 99.24676 0         11.51643 1.220242
3 8.794267 NAN 12.16629 99.24676 0         11.80331 1.245500
4 8.813287 NAN 12.07193 99.24676 0         11.61206 1.227055
5 8.806199 NAN 12.12418 99.25624 0         11.70769 1.235777
6 8.796409 NAN 12.12582 99.22072 0         11.70769 1.236716

In [4]:
# extract headers
headers <- read.csv(
  "TOA5_2806.ts_data.dat", skip = 1, header = FALSE, nrows = 3
)

In [5]:
headers

  V1        V2     V3  V4  V5  V6     V7    V8       V9  V10   V11       V12
1 TIMESTAMP RECORD Ux  Uy  Uz  co2    h2o   n2o      Ts  press diag_csat t_hmp
2 TS        RN     m/s m/s m/s mg/m^3 g/m^3 umol/mol C   kPa   unitless  C
3                  Smp Smp Smp Smp    Smp   Smp      Smp Smp   Smp       Smp
  V13
1 e_hmp
2 kPa
3 Smp

In [44]:
# save headers
write.table(
  headers, "TOA5_2806.headers.csv", row.names = FALSE, col.names = FALSE,
  sep = ",", quote = FALSE
)

In [7]:
summary(data)

                 TIMESTAMP            RECORD                Ux
 2014-12-22 11:47:39.3:       1   Min.   :761139393   Min.   :-65.53
 2014-12-22 11:47:39.4:       1   1st Qu.:768264807   1st Qu.:  0.50
 2014-12-22 11:47:39.5:       1   Median :775390221   Median :  1.36
 2014-12-22 11:47:39.6:       1   Mean   :775390221   Mean   :  1.79
 2014-12-22 11:47:39.7:       1   3rd Qu.:782515635   3rd Qu.:  2.78
 2014-12-22 11:47:39.8:       1   Max.   :789641049   Max.   : 65.53
 (Other)              :28501651                       NA's   :267862
       Uy               Uz              co2                  h2o
 Min.   :-65.53   Min.   :-49.82   Min.   :-5.849e+18   Min.   : -2.122
 1st Qu.: -1.11   1st Qu.: -0.33   1st Qu.: 8.030e+02   1st Qu.:  5.155
 Median :  0.24   Median :  0.00   Median : 8.490e+02   Median :  6.366
 Mean   :  0.62   Mean   :  0.01   Mean   :-3.364e+11   Mean   :  9.375
 3rd Qu.:  2.56   3rd Qu.:  0.34   3rd Qu.: 1.101e+03   3rd Qu.: 10.736
 Max.   : 65.53   Max.   : 45.43   Max.   : 8.143e+16   Max.   :716.880
 NA's   :267862   NA's   :267862
  n2o                 Ts             press          diag_csat
 NAN:28501657   Min.   :-38.26   Min.   : 94.60   Min.   :    0.0
                1st Qu.:  3.65   1st Qu.: 98.73   1st Qu.:    0.0
                Median :  6.31   Median : 99.35   Median :    0.0
                Mean   :  8.41   Mean   : 99.28   Mean   :  783.6
                3rd Qu.: 11.26   3rd Qu.: 99.96   3rd Qu.:    1.0
                Max.   : 72.63   Max.   :101.63   Max.   :61503.0
                NA's   :267862
     t_hmp            e_hmp
 Min.   :-2.861   Min.   :0.4546
 1st Qu.: 3.310   1st Qu.:0.6803
 Median : 5.651   Median :0.7821
 Mean   : 5.889   Mean   :0.8590
 3rd Qu.: 8.487   3rd Qu.:1.0068
 Max.   :15.325   Max.   :1.6238

In [8]:
nrow(data)

[1] 28501657

In [9]:
# split data into manageable chunks (1 mil rows)
data_split <- split(data, (as.numeric(rownames(data)) - 1) %/% 1000000)

In [10]:
str(data_split)

List of 29
 $ 0 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 1 2 3 4 5 6 7 8 9 10 ...
  ..$ RECORD   : int [1:1000000] 761139393 761139394 761139395 761139396 761139397 761139398 761139399 761139400 761139401 761139402 ...
  ..$ Ux       : num [1:1000000] 1.69 1.55 1.52 1.96 1.36 ...
  ..$ Uy       : num [1:1000000] 0.69 0.163 -0.111 -0.344 -0.455 ...
  ..$ Uz       : num [1:1000000] 0.864 1.363 1.746 0.639 1.206 ...
  ..$ co2      : num [1:1000000] 761 760 760 761 761 ...
  ..$ h2o      : num [1:1000000] 8.81 8.79 8.79 8.81 8.81 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 12.1 12.1 12.2 12.1 12.1 ...
  ..$ press    : num [1:1000000] 99.3 99.2 99.2 99.2 99.3 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 11.5 11.5 11.8 11.6 11.7 ...
  ..$ e_hmp    : num [1:1000000] 1.22 1.22 1.25 1.23 1.24 ...
 $ 1 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 1000001 1000002 1000003 1000004 1000005 1000006 1000007 1000008 1000009 1000010 ...
  ..$ RECORD   : int [1:1000000] 762139393 762139394 762139395 762139396 762139397 762139398 762139399 762139400 762139401 762139402 ...
  ..$ Ux       : num [1:1000000] 6.05 4.82 5.35 1.82 5.57 ...
  ..$ Uy       : num [1:1000000] 4.86 4.73 2.92 3.1 4.53 ...
  ..$ Uz       : num [1:1000000] -1.141 -0.271 -0.246 -0.283 -0.752 ...
  ..$ co2      : num [1:1000000] 1409 1447 1406 1383 1388 ...
  ..$ h2o      : num [1:1000000] 29 30 29 28 28.3 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 20.6 20.8 21.8 23.7 21.2 ...
  ..$ press    : num [1:1000000] 98.5 98.5 98.5 98.5 98.5 ...
  ..$ diag_csat: int [1:1000000] 3 3 3 3 3 3 3 3 3 3 ...
  ..$ t_hmp    : num [1:1000000] 11.3 11.3 11.3 11.3 11.3 ...
  ..$ e_hmp    : num [1:1000000] 1.32 1.32 1.32 1.32 1.32 ...
 $ 2 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 2000001 2000002 2000003 2000004 2000005 2000006 2000007 2000008 2000009 2000010 ...
  ..$ RECORD   : int [1:1000000] 763139393 763139394 763139395 763139396 763139397 763139398 763139399 763139400 763139401 763139402 ...
  ..$ Ux       : num [1:1000000] 1.73 1.49 1.44 1.7 1.4 ...
  ..$ Uy       : num [1:1000000] -0.498 -0.399 -0.511 -1.04 -0.664 ...
  ..$ Uz       : num [1:1000000] 0.5212 0.0217 0.2135 0.2165 0.0232 ...
  ..$ co2      : num [1:1000000] 824 824 824 824 824 ...
  ..$ h2o      : num [1:1000000] 5.34 5.33 5.33 5.33 5.33 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 4.27 4.3 4.32 4.37 4.39 ...
  ..$ press    : num [1:1000000] 100 100 100 100 100 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 4.08 4.08 4.08 3.98 4.08 ...
  ..$ e_hmp    : num [1:1000000] 0.726 0.729 0.727 0.722 0.727 ...
 $ 3 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 3000001 3000002 3000003 3000004 3000005 3000006 3000007 3000008 3000009 3000010 ...
  ..$ RECORD   : int [1:1000000] 764139393 764139394 764139395 764139396 764139397 764139398 764139399 764139400 764139401 764139402 ...
  ..$ Ux       : num [1:1000000] 0.546 0.529 0.558 0.524 0.543 ...
  ..$ Uy       : num [1:1000000] 0.626 0.661 0.689 0.694 0.706 ...
  ..$ Uz       : num [1:1000000] 0.0195 -0.002 -0.0045 -0.01 -0.0177 ...
  ..$ co2      : num [1:1000000] 847 850 849 851 851 ...
  ..$ h2o      : num [1:1000000] 5.06 5.05 5.05 5.04 5.04 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 2.78 2.7 2.66 2.62 2.65 ...
  ..$ press    : num [1:1000000] 101 101 101 101 101 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 3.5 3.6 3.6 3.6 3.5 ...
  ..$ e_hmp    : num [1:1000000] 0.7 0.705 0.705 0.705 0.701 ...
 $ 4 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 4000001 4000002 4000003 4000004 4000005 4000006 4000007 4000008 4000009 4000010 ...
  ..$ RECORD   : int [1:1000000] 765139393 765139394 765139395 765139396 765139397 765139398 765139399 765139400 765139401 765139402 ...
  ..$ Ux       : num [1:1000000] 1.248 1.619 1.454 1.32 0.639 ...
  ..$ Uy       : num [1:1000000] -1.86 -1.59 -1.8 -1.71 -2.94 ...
  ..$ Uz       : num [1:1000000] -0.726 -0.659 -0.388 0.25 0.236 ...
  ..$ co2      : num [1:1000000] 1151 1151 1150 1148 1147 ...
  ..$ h2o      : num [1:1000000] 12.3 12.3 12.2 12.1 12.1 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 5.35 5.34 5.33 5.3 5.31 ...
  ..$ press    : num [1:1000000] 99.4 99.4 99.4 99.5 99.5 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 5.39 5.29 5.39 5.29 5.39 ...
  ..$ e_hmp    : num [1:1000000] 0.807 0.802 0.807 0.802 0.806 ...
 $ 5 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 5000001 5000002 5000003 5000004 5000005 5000006 5000007 5000008 5000009 5000010 ...
  ..$ RECORD   : int [1:1000000] 766139393 766139394 766139395 766139396 766139397 766139398 766139399 766139400 766139401 766139402 ...
  ..$ Ux       : num [1:1000000] -0.701 -0.742 -0.529 -0.528 -0.752 ...
  ..$ Uy       : num [1:1000000] 2.38 2.34 2.33 2.28 2.15 ...
  ..$ Uz       : num [1:1000000] 0.396 0.293 0.199 0.159 0.324 ...
  ..$ co2      : num [1:1000000] 878 878 878 878 878 ...
  ..$ h2o      : num [1:1000000] 3.98 3.97 3.97 3.97 3.97 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] -0.486 -0.478 -0.447 -0.489 -0.483 ...
  ..$ press    : num [1:1000000] 100 100 100 100 100 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 0.342 0.534 0.629 0.342 0.438 ...
  ..$ e_hmp    : num [1:1000000] 0.558 0.568 0.571 0.558 0.562 ...
 $ 6 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 6000001 6000002 6000003 6000004 6000005 6000006 6000007 6000008 6000009 6000010 ...
  ..$ RECORD   : int [1:1000000] 767139393 767139394 767139395 767139396 767139397 767139398 767139399 767139400 767139401 767139402 ...
  ..$ Ux       : num [1:1000000] 0.556 0.516 0.525 0.502 0.445 ...
  ..$ Uy       : num [1:1000000] 0.469 0.407 0.522 0.433 0.522 ...
  ..$ Uz       : num [1:1000000] -0.1 -0.1252 -0.0695 -0.1578 -0.105 ...
  ..$ co2      : num [1:1000000] 878 878 878 878 878 ...
  ..$ h2o      : num [1:1000000] 4.66 4.66 4.66 4.66 4.66 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 2.26 2.29 2.29 2.31 2.29 ...
  ..$ press    : num [1:1000000] 101 101 102 101 101 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 2.37 2.47 2.47 2.56 2.56 ...
  ..$ e_hmp    : num [1:1000000] 0.652 0.656 0.656 0.661 0.661 ...
 $ 7 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 7000001 7000002 7000003 7000004 7000005 7000006 7000007 7000008 7000009 7000010 ...
  ..$ RECORD   : int [1:1000000] 768139393 768139394 768139395 768139396 768139397 768139398 768139399 768139400 768139401 768139402 ...
  ..$ Ux       : num [1:1000000] 2.03 1.224 1.423 0.726 0.981 ...
  ..$ Uy       : num [1:1000000] 4 4.15 5.25 4.3 4.73 ...
  ..$ Uz       : num [1:1000000] -1.327 -2.456 -0.168 -1.174 -0.492 ...
  ..$ co2      : num [1:1000000] 782 783 783 783 783 ...
  ..$ h2o      : num [1:1000000] 6.67 6.63 6.63 6.63 6.65 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 8.93 9.25 9.19 9.1 9.12 ...
  ..$ press    : num [1:1000000] 101 101 101 101 101 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 9.06 8.77 8.87 8.77 8.87 ...
  ..$ e_hmp    : num [1:1000000] 0.973 0.952 0.957 0.953 0.958 ...
 $ 8 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 8000001 8000002 8000003 8000004 8000005 8000006 8000007 8000008 8000009 8000010 ...
  ..$ RECORD   : int [1:1000000] 769139393 769139394 769139395 769139396 769139397 769139398 769139399 769139400 769139401 769139402 ...
  ..$ Ux       : num [1:1000000] 2.76 23.18 4 5.9 4.29 ...
  ..$ Uy       : num [1:1000000] 4.3 2.17 2.62 2.1 2.36 ...
  ..$ Uz       : num [1:1000000] -1.348 -6.32 -0.538 -1.056 -0.361 ...
  ..$ co2      : num [1:1000000] 1462 1469 1478 1472 1474 ...
  ..$ h2o      : num [1:1000000] 18.3 18.7 18.8 18.6 18.9 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 25.3 25.1 24 24.8 24 ...
  ..$ press    : num [1:1000000] 99.7 99.7 99.7 99.7 99.7 ...
  ..$ diag_csat: int [1:1000000] 7 7 3 3 3 3 3 3 7 3 ...
  ..$ t_hmp    : num [1:1000000] 10.02 9.92 10.02 9.92 10.02 ...
  ..$ e_hmp    : num [1:1000000] 1.2 1.2 1.2 1.19 1.2 ...
 $ 9 :'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 9000001 9000002 9000003 9000004 9000005 9000006 9000007 9000008 9000009 9000010 ...
  ..$ RECORD   : int [1:1000000] 770139393 770139394 770139395 770139396 770139397 770139398 770139399 770139400 770139401 770139402 ...
  ..$ Ux       : num [1:1000000] 2.42 1.81 1.84 2.3 1.12 ...
  ..$ Uy       : num [1:1000000] -1.36 -1.47 -1.19 -1.05 -1.37 ...
  ..$ Uz       : num [1:1000000] -0.184 -0.176 -0.14 0.397 0.282 ...
  ..$ co2      : num [1:1000000] 767 767 767 767 767 ...
  ..$ h2o      : num [1:1000000] 7.98 7.98 7.98 7.98 7.97 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 10.7 10.7 10.7 10.8 10.7 ...
  ..$ press    : num [1:1000000] 99.3 99.3 99.4 99.3 99.3 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 10.2 10.2 10.2 10.1 10 ...
  ..$ e_hmp    : num [1:1000000] 1.06 1.06 1.06 1.06 1.05 ...
 $ 10:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 10000001 10000002 10000003 10000004 10000005 10000006 10000007 10000008 10000009 10000010 ...
  ..$ RECORD   : int [1:1000000] 771139393 771139394 771139395 771139396 771139397 771139398 771139399 771139400 771139401 771139402 ...
  ..$ Ux       : num [1:1000000] -1.45 -1.45 -1.52 -1.54 -1.57 ...
  ..$ Uy       : num [1:1000000] -1.5 -1.46 -1.41 -1.4 -1.48 ...
  ..$ Uz       : num [1:1000000] -0.23 -0.196 -0.373 -0.342 -0.416 ...
  ..$ co2      : num [1:1000000] 4976 4949 4887 4835 4781 ...
  ..$ h2o      : num [1:1000000] 40.7 40.5 40 39.5 39.1 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 15.6 15.6 15.2 15.6 15.9 ...
  ..$ press    : num [1:1000000] 100 100 100 100 100 ...
  ..$ diag_csat: int [1:1000000] 1 1 1 1 1 1 1 0 0 1 ...
  ..$ t_hmp    : num [1:1000000] 5.28 5.38 5.28 5.28 5.28 ...
  ..$ e_hmp    : num [1:1000000] 0.853 0.859 0.853 0.853 0.854 ...
 $ 11:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 11000001 11000002 11000003 11000004 11000005 11000006 11000007 11000008 11000009 11000010 ...
  ..$ RECORD   : int [1:1000000] 772139393 772139394 772139395 772139396 772139397 772139398 772139399 772139400 772139401 772139402 ...
  ..$ Ux       : num [1:1000000] 0.684 0.704 0.688 0.687 0.686 ...
  ..$ Uy       : num [1:1000000] -0.171 -0.212 -0.231 -0.242 -0.233 ...
  ..$ Uz       : num [1:1000000] -0.0015 -0.0328 -0.002 0.0177 0.0245 ...
  ..$ co2      : num [1:1000000] 881 880 881 881 881 ...
  ..$ h2o      : num [1:1000000] 6.71 6.71 6.71 6.72 6.72 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 5.95 5.95 5.94 5.97 5.92 ...
  ..$ press    : num [1:1000000] 101 101 101 101 101 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 5.84 5.74 5.84 5.65 6.03 ...
  ..$ e_hmp    : num [1:1000000] 0.882 0.878 0.882 0.872 0.896 ...
 $ 12:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 12000001 12000002 12000003 12000004 12000005 12000006 12000007 12000008 12000009 12000010 ...
  ..$ RECORD   : int [1:1000000] 773139393 773139394 773139395 773139396 773139397 773139398 773139399 773139400 773139401 773139402 ...
  ..$ Ux       : num [1:1000000] NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
  ..$ Uy       : num [1:1000000] NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
  ..$ Uz       : num [1:1000000] NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
  ..$ co2      : num [1:1000000] 977 979 967 973 977 ...
  ..$ h2o      : num [1:1000000] 20.7 20.9 20.5 20.8 21 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
  ..$ press    : num [1:1000000] 99.9 99.8 99.8 99.8 99.9 ...
  ..$ diag_csat: int [1:1000000] 61503 61503 61503 61503 61503 61503 61503 61503 61503 61503 ...
  ..$ t_hmp    : num [1:1000000] 10 10 10.1 10 10.1 ...
  ..$ e_hmp    : num [1:1000000] 1.23 1.23 1.24 1.23 1.24 ...
 $ 13:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 13000001 13000002 13000003 13000004 13000005 13000006 13000007 13000008 13000009 13000010 ...
  ..$ RECORD   : int [1:1000000] 774139393 774139394 774139395 774139396 774139397 774139398 774139399 774139400 774139401 774139402 ...
  ..$ Ux       : num [1:1000000] 2.05 2.18 1.48 1.7 1.83 ...
  ..$ Uy       : num [1:1000000] 0.8 0.833 1.389 1.44 1.54 ...
  ..$ Uz       : num [1:1000000] -0.403 -0.406 -0.608 -0.825 -0.631 ...
  ..$ co2      : num [1:1000000] 778 778 777 777 777 ...
  ..$ h2o      : num [1:1000000] 5.74 5.75 5.75 5.75 5.75 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 6.05 6.13 6.08 6.08 6.05 ...
  ..$ press    : num [1:1000000] 99.7 99.7 99.7 99.7 99.7 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 6.48 6.38 6.48 6.67 6.57 ...
  ..$ e_hmp    : num [1:1000000] 0.779 0.775 0.779 0.792 0.785 ...
 $ 14:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 14000001 14000002 14000003 14000004 14000005 14000006 14000007 14000008 14000009 14000010 ...
  ..$ RECORD   : int [1:1000000] 775139393 775139394 775139395 775139396 775139397 775139398 775139399 775139400 775139401 775139402 ...
  ..$ Ux       : num [1:1000000] 14.33 13.92 1.13 12.96 14.26 ...
  ..$ Uy       : num [1:1000000] 3.56 1.4 4.01 4.11 3.97 ...
  ..$ Uz       : num [1:1000000] -2.063 -0.582 1.562 -2.656 -1.658 ...
  ..$ co2      : num [1:1000000] 1581 1581 1599 1609 1615 ...
  ..$ h2o      : num [1:1000000] 19.1 19.2 19.3 19.3 19.3 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 16.5 15.8 18.2 18.6 18.8 ...
  ..$ press    : num [1:1000000] 98.5 98.5 98.5 98.5 98.5 ...
  ..$ diag_csat: int [1:1000000] 7 7 3 7 7 7 7 7 7 3 ...
  ..$ t_hmp    : num [1:1000000] 11.5 11.8 11.5 11.6 11.5 ...
  ..$ e_hmp    : num [1:1000000] 1.33 1.36 1.33 1.34 1.33 ...
 $ 15:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 15000001 15000002 15000003 15000004 15000005 15000006 15000007 15000008 15000009 15000010 ...
  ..$ RECORD   : int [1:1000000] 776139393 776139394 776139395 776139396 776139397 776139398 776139399 776139400 776139401 776139402 ...
  ..$ Ux       : num [1:1000000] 5.81 7 5.82 5.21 5.46 ...
  ..$ Uy       : num [1:1000000] 8.88 7.6 9.12 9.07 9.19 ...
  ..$ Uz       : num [1:1000000] 0.0715 -0.0232 -0.576 0.0798 0.6383 ...
  ..$ co2      : num [1:1000000] 864 857 861 858 862 ...
  ..$ h2o      : num [1:1000000] 7.33 7.24 7.29 7.34 7.29 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 8.94 8.81 8.93 8.72 8.75 ...
  ..$ press    : num [1:1000000] 99.3 99.3 99.3 99.2 99.3 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 8.59 8.49 8.69 8.49 8.59 ...
  ..$ e_hmp    : num [1:1000000] 0.989 0.985 0.996 0.986 0.988 ...
 $ 16:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 16000001 16000002 16000003 16000004 16000005 16000006 16000007 16000008 16000009 16000010 ...
  ..$ RECORD   : int [1:1000000] 777139393 777139394 777139395 777139396 777139397 777139398 777139399 777139400 777139401 777139402 ...
  ..$ Ux       : num [1:1000000] 4.51 6.39 2.82 3.48 5.6 ...
  ..$ Uy       : num [1:1000000] 6.61 6.8 6.37 7.83 7.95 ...
  ..$ Uz       : num [1:1000000] 1.37 1.19 3.4 1.41 1.34 ...
  ..$ co2      : num [1:1000000] 852 852 851 852 853 ...
  ..$ h2o      : num [1:1000000] 9.6 9.63 9.6 9.59 9.62 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 12.7 13 12.8 13.1 12.9 ...
  ..$ press    : num [1:1000000] 98.8 98.8 98.8 98.8 98.8 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 11.8 11.9 11.8 11.9 11.8 ...
  ..$ e_hmp    : num [1:1000000] 1.32 1.32 1.32 1.32 1.32 ...
 $ 17:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 17000001 17000002 17000003 17000004 17000005 17000006 17000007 17000008 17000009 17000010 ...
  ..$ RECORD   : int [1:1000000] 778139393 778139394 778139395 778139396 778139397 778139398 778139399 778139400 778139401 778139402 ...
  ..$ Ux       : num [1:1000000] 0.83 1.202 1.133 0.59 0.249 ...
  ..$ Uy       : num [1:1000000] -1.25 -1.3 -2.31 -2.63 -2.49 ...
  ..$ Uz       : num [1:1000000] 0.345 0.173 0.015 0.798 1.36 ...
  ..$ co2      : num [1:1000000] 835 835 836 836 836 ...
  ..$ h2o      : num [1:1000000] 4.63 4.63 4.63 4.62 4.63 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 3.41 3.35 3.3 3.31 3.41 ...
  ..$ press    : num [1:1000000] 100 100 100 100 100 ...
  ..$ diag_csat: int [1:1000000] 0 0 0 0 0 0 0 0 0 0 ...
  ..$ t_hmp    : num [1:1000000] 3.59 3.5 3.59 3.5 3.5 ...
  ..$ e_hmp    : num [1:1000000] 0.682 0.677 0.681 0.678 0.676 ...
 $ 18:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 18000001 18000002 18000003 18000004 18000005 18000006 18000007 18000008 18000009 18000010 ...
  ..$ RECORD   : int [1:1000000] 779139393 779139394 779139395 779139396 779139397 779139398 779139399 779139400 779139401 779139402 ...
  ..$ Ux       : num [1:1000000] 3.62 5.38 3.07 4.98 4.89 ...
  ..$ Uy       : num [1:1000000] 3.11 4.38 3.52 2.82 3.56 ...
  ..$ Uz       : num [1:1000000] 0.434 0.292 1.078 1.3845 -0.0757 ...
  ..$ co2      : num [1:1000000] 1261 1258 1253 1247 1245 ...
  ..$ h2o      : num [1:1000000] 16.3 16.2 16.2 16 15.9 ...
  ..$ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ Ts       : num [1:1000000] 21.1 20.6 17.7 20.3 19.5 ...
  ..$ press    : num [1:1000000] 98 98 98 98 98 ...
  ..$ diag_csat: int [1:1000000] 2 2 3 3 3 2 3 2 3 3 ...
  ..$ t_hmp    : num [1:1000000] 10.2 10.1 10.5 10.2 10.4 ...
  ..$ e_hmp    : num [1:1000000] 1.2 1.2 1.23 1.21 1.22 ...
 $ 19:'data.frame':	1000000 obs. of  13 variables:
  ..$ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 19000001 19000002 19000003 19000004 19000005 19000006 19000007 19000008 19000009 19000010 ...

In [12]:
str(data_split[[1]])

'data.frame':	1000000 obs. of  13 variables:
 $ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ RECORD   : int  761139393 761139394 761139395 761139396 761139397 761139398 761139399 761139400 761139401 761139402 ...
 $ Ux       : num  1.69 1.55 1.52 1.96 1.36 ...
 $ Uy       : num  0.69 0.163 -0.111 -0.344 -0.455 ...
 $ Uz       : num  0.864 1.363 1.746 0.639 1.206 ...
 $ co2      : num  761 760 760 761 761 ...
 $ h2o      : num  8.81 8.79 8.79 8.81 8.81 ...
 $ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
 $ Ts       : num  12.1 12.1 12.2 12.1 12.1 ...
 $ press    : num  99.3 99.2 99.2 99.2 99.3 ...
 $ diag_csat: int  0 0 0 0 0 0 0 0 0 0 ...
 $ t_hmp    : num  11.5 11.5 11.8 11.6 11.7 ...
 $ e_hmp    : num  1.22 1.22 1.25 1.23 1.24 ...

In [24]:
str(data_split[[29]])

'data.frame':	501657 obs. of  13 variables:
 $ TIMESTAMP: Factor w/ 28501657 levels "2014-12-22 11:47:39.3",..: 28000001 28000002 28000003 28000004 28000005 28000006 28000007 28000008 28000009 28000010 ...
 $ RECORD   : int  789139393 789139394 789139395 789139396 789139397 789139398 789139399 789139400 789139401 789139402 ...
 $ Ux       : num  1.88 1.94 1.9 2.19 2.72 ...
 $ Uy       : num  -1.31 -1.21 -1 -1.62 -1.08 ...
 $ Uz       : num  -0.233 -0.294 -0.421 -0.704 -0.776 ...
 $ co2      : num  793 794 794 794 794 ...
 $ h2o      : num  5.77 5.78 5.78 5.8 5.8 ...
 $ n2o      : Factor w/ 1 level "NAN": 1 1 1 1 1 1 1 1 1 1 ...
 $ Ts       : num  6.09 6.03 6.07 6.07 6.01 ...
 $ press    : num  99.7 99.8 99.8 99.8 99.8 ...
 $ diag_csat: int  0 0 0 0 0 0 0 0 0 0 ...
 $ t_hmp    : num  5.96 5.96 5.96 5.96 5.96 ...
 $ e_hmp    : num  0.758 0.759 0.759 0.759 0.759 ...

In [45]:
head(data_split[[1]])

  TIMESTAMP             RECORD    Ux      Uy         Uz        co2
1 2014-12-22 11:47:39.3 761139393 1.69375  0.6897500 0.8642501 760.7380
2 2014-12-22 11:47:39.4 761139394 1.55100  0.1625000 1.3627500 760.2671
3 2014-12-22 11:47:39.5 761139395 1.51725 -0.1107500 1.7462500 760.1978
4 2014-12-22 11:47:39.6 761139396 1.95925 -0.3437500 0.6390001 760.7865
5 2014-12-22 11:47:39.7 761139397 1.36050 -0.4550000 1.2060000 760.8245
6 2014-12-22 11:47:39.8 761139398 0.57650 -0.9160001 1.2277500 760.9031
  h2o      n2o Ts       press    diag_csat t_hmp    e_hmp
1 8.811520 NAN 12.08542 99.28229 0         11.51643 1.219314
2 8.790375 NAN 12.10226 99.24676 0         11.51643 1.220242
3 8.794267 NAN 12.16629 99.24676 0         11.80331 1.245500
4 8.813287 NAN 12.07193 99.24676 0         11.61206 1.227055
5 8.806199 NAN 12.12418 99.25624 0         11.70769 1.235777
6 8.796409 NAN 12.12582 99.22072 0         11.70769 1.236716

In [46]:
head(data_split[[29]])

         TIMESTAMP             RECORD    Ux      Uy       Uz         co2
28000001 2015-01-23 21:34:19.3 789139393 1.88225 -1.31275 -0.2332500 793.3365
28000002 2015-01-23 21:34:19.4 789139394 1.93700 -1.20600 -0.2942500 793.7191
28000003 2015-01-23 21:34:19.5 789139395 1.89800 -1.00475 -0.4210000 793.7352
28000004 2015-01-23 21:34:19.6 789139396 2.19450 -1.62500 -0.7040001 793.5444
28000005 2015-01-23 21:34:19.7 789139397 2.71700 -1.07950 -0.7765000 793.8083
28000006 2015-01-23 21:34:19.8 789139398 2.63100 -0.65525 -0.2002500 793.7773
         h2o      n2o Ts       press    diag_csat t_hmp    e_hmp
28000001 5.768875 NAN 6.093353 99.74144 0         5.962234 0.7584324
28000002 5.775090 NAN 6.031708 99.75114 0         5.962234 0.7590697
28000003 5.782685 NAN 6.065033 99.75114 0         5.962234 0.7590697
28000004 5.796525 NAN 6.068390 99.75114 0         5.962234 0.7590697
28000005 5.795643 NAN 6.005035 99.75114 0         5.962234 0.7590697
28000006 5.798342 NAN 6.101715 99.74144 0         6.249413 0.7768880

In [17]:
nrow(data_split[[1]])

[1] 1000000

In [19]:
nrow(data_split[[29]])

[1] 501657

In [43]:
# save each chunk as a new CSV file
for (n in 1:length(data_split)) {
  write.table(
    data_split[[n]],
    paste("TOA5_2806.", "ts_data.", sprintf("%02d", n), ".csv", sep = ""),
    row.names = FALSE, sep = ",", quote = FALSE
  )
}